.signup-container
  .row
    .signup
      %h1 Signup

      = form_for @user, :html => { :class => "form" } do |f|
        %ul
          %li
            = f.label :username
            = f.text_field :username
          %li
            = f.label :email
            = f.text_field :email
          %li
            = f.label :password
            = f.password_field :password
          %li
            = f.label :password_confirmation
            = f.password_field :password_confirmation
          %li
            = submit_tag "Signup", class: "btn btn-secondary"

