!!! 5
%html
  %head
    %meta{:charset => "UTF-8"}
    %title Zinctub
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .header-container
      .row
        = link_to :root, class: "logo" do
          %span.logo-image
            = image_tag "zinctub.png"
          %span.logo-text Zinctub

        .header-actions
          %ul.vertical-action-list
            - if current_user
              %li= icon_link_to current_user.username, edit_user_path(current_user), icon: "user", class: "btn"
              %li= icon_link_to "", :logout, icon: "signout", class: "btn"

            - else
              %li= link_to "Signup", new_user_path, class: "btn btn-primary"
              %li= icon_link_to "Login", :login, icon: "signin", class: "btn"

    = yield
